<footer class="footer">
    <div class="container">
        <div class="footer-wrap">
            <div class="footer-logo">
                <img src="../../assets/img/logo.svg" alt="">
                <p>Expert-led courses covering everything you need to know about COVID-19 and related topics.</p>
            </div>
            <div class="footer-link">
                <ul>
                    <li>
                        <a href="javascript:void(0);">Home</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Covid-19</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Vaccine</a>
                    </li>
                </ul>
            </div>
            <div class="footer-social">
                <ul>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="icon-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="icon-tiktok"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="left">
            <span>Copyright © 2023 Healthybeens. All Rights Reserved</span>
        </div>
        <div class="right">
            <ul>
                <li>
                    <a href="javascript:void(0);">Privacy policy</a>
                </li>
                <li>
                    <a href="javascript:void(0);">Terms & Conditions</a>
                </li>
            </ul>
        </div>
    </div>
</footer>