<app-header></app-header>


<div class="content-wrapper">
    <div class="banner-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner-tittle">
                        <span>Stay Informed, Stay Safe Comprehensive COVID-19 Courses</span>
                        <p>Expert-led courses covering everything you need to know about COVID-19 and related topics</p>
                        <button class="btn btn-primary btn-anchor">Chat with sydmed AI</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="chat-panel">
                        <div class="chat-response">
                            <span>Ask anything from Syd Med AI</span>
                            <div class="ai-chat-ans">

                            </div>
                            <div class="ai-pre-question">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">Help me study?</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Tell me about emergency medicines?</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">Where sydmed talk about COVID-19?</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="chat-search-wrap">
                            <textarea class="form-control " placeholder="Ask to syd med AI"></textarea>
                            <div class="sent-btn">
                                <i class="icon-send"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="slider-wrapper">
        <div class="slider-header">
            <div class="leftbar">
                <span>Upcoming Videos</span>
            </div>
            <div class="rightbar">
                Arrow butto
            </div>
        </div>
        <div class="main-slider">

            <div data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
                <div>
                    <h3>1</h3>
                </div>
                <div>
                    <h3>2</h3>
                </div>
                <div>
                    <h3>3</h3>
                </div>
                <div>
                    <h3>4</h3>
                </div>
                <div>
                    <h3>5</h3>
                </div>
                <div>
                    <h3>6</h3>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>